/****************************************************************************
  TYPOGRAPHY STYLES
****************************************************************************/

/* Thin */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Thin Italic */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonThinIt.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Extra Light */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Extra Light Italic */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonExtraLightIt.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light Italic */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonLightIt.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular Italic */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonRegularIt.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Semi-Bold */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonSemiBold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi-Bold Italic */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonSemiBoldIt.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: Boston;
  src: url('/fonts/boston/BostonBoldIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
